
body {
    background-color: black;
    color: white;
    overflow-x: hidden;
  }
  
  .list a {
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color: black;
    box-sizing: border-box;

  }
  
  .list a:hover {
    font-weight: bold;
    border: 2px solid white;
    border-radius: 10px;
  }
  #stick{
    margin-left: 300px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .list li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    font-size: 20px;
  }
header{
    padding: 0 0 50px 0;
}


#hello{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin: 50px 70px 100px 50px;
}
.hep{
    align-items: center;
    justify-content: space-between;
}
.name{
    color: red;
    font-size: 30px;
}
#welco{
    margin-left: 60px;
}
.second{
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    height: 100vh;
}
#about{
    font-size: 30px;
    font-weight: bold;
    margin: 0% 10% 10% 10%;

}
.cards{
    display: flex;
    align-items: center ;
    align-content: center;

}
.first_sen{
    width: 180px;
    height:180px;
    border: 2px solid white;
    border-radius: 80px;
    padding: 130px 0 10px 10px;
    background-color: bisque;
    color: black;
    margin: 30px;

}
.first_sen:hover,.first_sen:focus{

    font-weight: bold;
    background-color: khaki;
    transform: scale(1.2) rotate(-10deg);
    border: 3px solid black;
}


#web3{
    padding-top: 30px;
    height: 100vh;
    align-content: center;
    padding: 30px;

 
}
#img{
    border-radius: 50%;  
    padding-top: 100px;
}
#img {
    animation: pulse 2s linear infinite;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
 .about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
 }
 span{
    border: 3px solid white;
    border-radius: 30px;
    margin: 30px;
    padding:10px;
    
 }
 
.school{
    text-align: center;
    width:180px;
    height: 300px;
    border: 2px solid white;
    border-radius: 80px;
    padding:30px;
    margin : 30px; 
    background-color: bisque;
    color: black;
    
}
.school:hover,.school:focus{
   transform: scale(1.2) rotate(10deg);
    background-color: greenyellow;
}
.expe{
    display: flex;
    margin: 40px;

    gap: 20px;
}
#scale{
    height: 100vh;
    padding:30px;
}

 .exp{
    height: 365px;
    border: 2px solid white;
    padding: 10px;
    margin-left: 30px;
    border-radius: 40px;
    background-color:bisque;
    color: black;
 }

 .but{
    background-color: red;
    font-weight: bold;
    color: white;
    height: 33px;
    width: 70px;
    border-radius: 20px;
 }
 #uni{
    text-decoration: none;
    color: black;
    font-size: larger;
    font-weight: bold italic;
 }
 .sk{
    margin: 40px;
 }
 
 .details{
    margin-top: 30px;
    margin-bottom: 50px;
 }
.details input{
    display: block;
    width: 300px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50px;
    margin-bottom: 50px;
    padding: 10px;
}
.last{
    margin-top: 130px;
    display:grid;
    place-items:center;
}
#button{
    background-color: rgb(42, 42, 163);
    height: 30px;
    width: 80px;
    margin-left: 130px;
    border-radius: 20px;
    color: white;
}
.details:hover{
    background-color: skyblue;
    color: black;
    margin-bottom: 50px;
    padding: 10px;
    border-radius: 30px;
}
.footer{
    margin-bottom: 50px;

}
.con{
    text-decoration: none;
    margin: 30px;
    font-size: larger;
    color: black;
    font-weight: bold italic;
    border: 2px solid white;
    border-radius: 20px;
    padding: 5px;
    background-color: skyblue;
}
.lastp{
    display: flex;
    align-items: center;
    justify-content: center;
}
/*----------------------------------------------------*/
.exp:hover{
    background-color: steelblue;
    transform: scale(1.05) rotate(-7deg);
    padding: 10px;
    position: relative
    
}

/*--------------------------------------------------*/
.tech :hover{
    background-color: lightsalmon;
    transform: scale(1.1);
    padding: 10px;
    border: solid black 3px;
    margin: 20px;
}
li{
    margin: 15px;
}
.li{
    margin: 50px 10px 50px 50px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    width: 300px;
    background-color: blanchedalmond;
    color: black;
    
}
.li:hover, .li:focus{
    background-color: orange;
    transform: scale(1.1) rotate(6deg) translate(40px,10px);
}
#ABOUT {
    position: relative;
    top: 0;
    padding-top: 20px; /* Adjust this value as needed */
}

/*======================*/

body {
    background-image: url('pi.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* or 'contain' if preferred */
    /* Additional CSS properties for other styling */
    height: 100vh;
    background-attachment: fixed;
}




